* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-image: linear-gradient(
    to left bottom,
    #80d0c7,
    #13547a);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 40px;
}

h1 {
  font-size: 50px;
  font-weight: 900;
}

.title {
  margin-bottom: 40px;
}

.message {
  font-size: 30px;
  margin-bottom: 40px;
}

.board {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  margin-bottom: 40px;
}

.square {
  width: 100px;
  height: 100px;
  background: #fff;
}

.green-square {
  background: green;
  animation: pop 0.5s ease-out;
}

.white-square {
  background: #f0f0f0;
  animation: pop 1s ease-out;
}

.sq0 {
  border-right: 4px solid black;
  border-bottom: 4px solid black;
}
.sq1 {
  border-bottom: 4px solid black;
}
.sq2 {
  border-left: 4px solid black;
  border-bottom: 4px solid black;
}
.sq3 {
  border-right: 4px solid black;
}
.sq4 {
  /* no border */
}
.sq5 {
  border-left: 4px solid black;
}
.sq6 {
  border-right: 4px solid black;
  border-top: 4px solid black;
}
.sq7 {
  border-top: 4px solid black;
}
.sq8 {
  border-left: 4px solid black;
  border-top: 4px solid black;
}

.mark {
  font-size: 70px;
}

.btns {
  margin: auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

button {
  text-transform: uppercase;
  width: 120px;
  height: 40px;
  border-radius: 100px;
  font-size: 20px;
  color: #777;
  background: #fff
}

button:hover {
  background-color: #4286f4;
  border: none;
  color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,.2);
  transform: translateY(-3px);
}

button:active {
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  transform: translateY(-1px);
}

button:focus {
  outline: none;
}

.tsub1, .tsub2, .tsub3 {
  display: inline-block;
  animation: pop .8s ease-out;
}

.tsub1 {
  animation-delay: 0.5s;
}
.tsub2 {
  animation-delay: 0.75s;
}
.tsub3 {
  animation-delay: 1s;
}

@keyframes pop {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


