* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-image: linear-gradient(
    to left bottom,
    #80d0c7,
    #13547a);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 40px;
}

.title {
  margin-bottom: 40px;
}

.message {
  font-size: 30px;
  margin-bottom: 40px;
}

.board {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  margin-bottom: 40px;
}

.square {
  width: 100px;
  height: 100px;
  background: #fff;
}

.sq0 {
  border-right: 4px solid black;
  border-bottom: 4px solid black;
}
.sq1 {
  border-bottom: 4px solid black;
}
.sq2 {
  border-left: 4px solid black;
  border-bottom: 4px solid black;
}
.sq3 {
  border-right: 4px solid black;
}
.sq4 {
  /* no border */
}
.sq5 {
  border-left: 4px solid black;
}
.sq6 {
  border-right: 4px solid black;
  border-top: 4px solid black;
}
.sq7 {
  border-top: 4px solid black;
}
.sq8 {
  border-left: 4px solid black;
  border-top: 4px solid black;
}

.App {
  text-align: center;
}